.portfolio__work-link {
    border-radius: 3px;
    position: relative;
    &::before {
        content: 'View';
        border: 1px solid #fff;
        border-radius: .25rem;
        color: #fff;
        display: block;
        font-size: 1rem;
        line-height: 1.5;
        opacity: 0;
        transition: opacity 0.4s ease;
        padding: .375rem .75rem;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        z-index: 2;
        position: absolute;
        top: calc(50% - (1.5 * 1rem) / 2);
        left: 1.25rem;
        right: 1.25rem;
    }
    &:hover::before {
            background-color: rgba(52, 58, 64, 0.7);
            opacity: 1;
        }
    &::after {
        content: '';
        display: block;
        background-color: #000;
        border-radius: 3px;
        opacity: 0;
        transition: opacity 0.4s ease;
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &:hover::after {
            opacity: 0.7;
        }
}