@import "partial/_normalize";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@import "partial/_lib";
@import "partial/_preloader";
@import "partial/_technologies";
@import "partial/_portfolio";
