@import "partial/_normalize.scss";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@import "partial/_lib.scss";
@import "partial/_technologies.scss";
@import "partial/_portfolio.scss";
