section#about.about
    .container
        .row.justify-content-center
            .about__text.p-3.text-dark.col-12.col-md-10.col-lg-8.mt-md-5
                p.about__paragraph.mt-md-2 Hello, my name is Serhii. I am a Front End Developer living in Kyiv, Ukraine
                p.about__paragraph.mt-md-2 I'm passionate about building visually great websites. I use HTML, CSS and JavaScript according to the latest code standards. Moreover, using modern JavaScript libraries and frameworks like React and Vue, I create amazing and fast single-page applications (SPA). I produce good and maintainable code, all my websites are responsive and cross-browser compatible. I would enjoy an opportunity to participate in exciting and creative projects.

