section#about.about
    .container
        .row.justify-content-center
            .about__text.col-12.col-sm-10.col-lg-6.mt-md-5
                p.about__paragraph.mt-md-2 Hello, my name is Serhii. I am a Front End Developer living in Kyiv, Ukraine
                p.about__paragraph.mt-md-2 I'm passionate about building visual components of websites. I use HTML, CSS and JavaScript according to the latest code standards. Moreover, I make websites through the use of professional tools, including CSS preprocessors and a task manager. I produce good and maintainable code applying BEM methodology. Definetly, You will like my work.

