header#header.header
    .container
        .row.align-items-start.justify-content-between
            .header__desc.col-12.col-sm-9.col-md-6.col-lg-9.mr-md-auto.mt-3
                h1.header__title Serhii Ralchenko
                p.header__subtitle Web Developer
            nav.navigation.navbar.navbar-expand-md.navbar-light.col-sm-3.col-md-6.col-lg-3.mt-3.order-first.order-sm-last
                button.navbar-toggler.ml-sm-auto(type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                #nav-content.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#about") About
                        li.nav-item
                            a.nav-link(href="#technologies") Technologies
                        li.nav-item
                            a.nav-link(href="#portfolio") Works
