section#portfolio.portfolio
    .container
        .row.justify-content-center.mt-md-5
            h2.technologies__title My Works
        .row.justify-content-center.mt-md-3
            .portfolio__cards.card-deck.p-3
                .portfolio__card.card.mb-4.box-shadow
                    a(href="tajem/").portfolio__work-link
                        img(src="img/portfolio-tajem.png" alt="Tajem").portfolio__img.card-img-top
                    .card-body.mt-4
                        a(href="https://github.com/serphiy/tajem").portfolio__source-link.btn.btn-block.btn-outline-dark View Source
                .portfolio__card.card.mb-4.box-shadow
                    a(href="fdn/").portfolio__work-link
                        img(src="img/portfolio-fdn.png" alt="FDN").portfolio__img.card-img-top
                    .card-body.mt-4
                        a(href="https://github.com/serphiy/fdn").portfolio__source-link.btn.btn-block.btn-outline-dark View Source
