script.
    /* preloader */
    !function(){var e=document.createElement("div");e.className="preloader",e.innerHTML='<div class="spinner"></div>',document.body.appendChild(e),window.addEventListener("load",function(){e.className+=" fade",setTimeout(function(){e.style.display="none"},100)})}();