section#technologies.technologies
    .container
        .row.justify-content-center.mt-2.mt-md-5
            h2.technologies__title.text-center Technology Summary
        .row.justify-content-center.mt-2.mt-md-3
            .technologies__carousel.col-10
                img(src="img/html5.png", alt="HTML5" title="HTML5").technologies__img
                img(src="img/css3.png", alt="CSS3" title="CSS3").technologies__img
                img(src="img/es6.png", alt="ES6" title="ES6").technologies__img
                img(src="img/sass.png", alt="SASS" title="SASS").technologies__img
                img(src="img/git.png", alt="Git" title="Git").technologies__img
                img(src="img/github.png", alt="GitHub" title="GitHub").technologies__img
                img(src="img/npm.png", alt="NPM" title="NPM").technologies__img
                img(src="img/gulp.png", alt="Gulp" title="Gulp").technologies__img
                img(src="img/jquery.png", alt="JQuery" title="JQuery").technologies__img
                img(src="img/bootstrap.png", alt="Bootstrap" title="Bootstrap").technologies__img
                img(src="img/bem.png", alt="BEM" title="BEM").technologies__img
                img(src="img/react.png", alt="React" title="React").technologies__img
                img(src="img/vue.png", alt="Vue" title="Vue").technologies__img
