section#techologies.technologies
    .container
        .row.justify-content-center.mt-md-5
            h2.technologies__title Technology Summary
        .row.justify-content-center.mt-md-3
            .technologies__items
                img(src="img/html5.png", alt="HTML5")
                img(src="img/css3.png", alt="CSS3")
                img(src="img/es6.png", alt="ES6")
                img(src="img/sass.png", alt="SASS")
                img(src="img/git.png", alt="Git")
                img(src="img/github.png", alt="GitHub")
                img(src="img/npm.png", alt="NPM")
                img(src="img/gulp.png", alt="Gulp")
                img(src="img/jquery.png", alt="JQuery")
                img(src="img/bootstrap.png", alt="Bootstrap")
                img(src="img/bem.png", alt="BEM")
